<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Puffin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden"><a href="#page-top"></a></li>
                <li class="page-scroll"><a href="#thankyou">Thank You</a></li>
                <li class="page-scroll"><a href="#gettingstarted">Getting Started</a></li>
                <li class="page-scroll"><a href="#customizing">Customizing</a></li>
                <li class="page-scroll"><a href="#license">License</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header id="thankyou">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">THANK YOU</span>
                    <span class="skills">for using The Puffin Framework</span>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- About Section -->
<section class="" id="gettingstarted">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Getting Started</h2>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Puffin has a built-in templating engine, mustache.</p>
                <p>You can find more information about PHP's version of mustache by visiting the github page, <a href="https://github.com/bobthecow/mustache.php" target="_blank">here</a></p>

            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="customizing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Customizing</h2>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Blah blah blah.</p>
            </div>
            <div class="col-lg-4">
                <p>Blah blah blah.</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center" id="license">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12">
                    <h2>Fly Free</h2>
                    <p>Puffin is a free to use, open source framework released under the <a href="https://en.wikipedia.org/wiki/MIT_License" target="_blank">MIT License.</a></p>
                    <br />
                    <div id="mit-license" class="text-justify col-md-8 col-md-push-2"><small>
                        <p>Copyright (c) 2015-2016 Pinguin.com</p>
                        <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
                        <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
                        <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
                    </small></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h5>Visit Our Website</h5>
                    <a href="http://puffin.pinguin.io" target="_blank" class="btn btn-outline">http://puffin.pinguin.io <i class="fa fa-external-link-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
