<div class="panel panel-default" style="width:200px; float:left; margin:4px">
  <div class="panel-body" style="height:50px; background-color:{{ . }}"></div>
  <div class="panel-heading">
	<h3 class="panel-title">{{ . }}</h3>
  </div>
</div>
