{{% BLOCKS }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{$ TITLE }}The Puffin Framework{{/ TITLE }}</title>
		{{$ META }}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="">
			<meta name="author" content="">
		{{/ META }}
		{{$ CSS }}{{/ CSS }}
		{{$ JS }}{{/ JS }}
	</head>
	<body id="page-top" class="index">
		{{$ CONTENTS }}Page content goes here.{{/ CONTENTS }}
		{{$ NONBLOCKING_JS }}{{/ NONBLOCKING_JS }}
	</body>
</html>
